@media only screen and (min-width: 600px) {
    .mobile-view {
       display: none !important;
    }
  }

@media only screen and (max-width: 600px) {
    .Desktop-view{
       display: none !important;
    }
    .mobile-view {
      display: block !important;
   }
    
  }

